.yAxis {
  margin-left: 10px;
}

.activity {
  width: 55vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1440px) {
  .activity {
    width: 58vw;
  }

}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.chart-title {
  margin: 0;
  font-size: 15px;
  text-align: left;
}

.custom-tooltip {
  background-color: #e60000;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.tooltip-text {
  margin: 20px 0;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.recharts-default-legend {
  justify-content: flex-end;
}

.custom-legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.custom-legend .chart-title {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

.legend-items {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: black;
}

.legend-color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}