header {
    background-color: black;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    z-index: 1000;
    position: fixed;
    top : 0;
}

nav {
    align-items: center;
    width: 100%;
    padding-left: 29px;
    padding-right: 91px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

li {
    padding: 10px;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
}