#root {
    position: absolute;
    top: 0;
    width: 100%;
}

main {
    position: relative;
    left: 224px;
    top: 159px;
}

h1 {
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
}

span {
    color: #FF0101;
}

p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.charts-container {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.charts-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.key-data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}