.line-chart-container {
  width: 17vw;
  height: 24vh;
  max-width: 800px;
  margin: 0;
  background-color: #f00;
}

@media (min-width: 1440px) {
  .line-chart-container {
    width: 18vw;
    height: 27vh;
  }
}

.line-chart-container .chart-title {
  font-size: 13px;
  margin-bottom: 10px;
  margin-left: 10px;
  position: absolute;
  color: white;
  opacity: 0.5;
  width: inherit;
}

@media (min-width: 1440px) {
  .line-chart-container .chart-title {
    font-size: 16px;
  }
}